@import "./search_bar.css";

/* --- Start index styles --- */
#s-lg-az-index .btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

#s-lg-az-index .btn-group > .btn {
  position: relative;
  float: none;
  margin-left: 0;
  border-radius: 0;
}

/* Base styling for all letter buttons */
#s-lg-az-index .btn-group .btn {
  background-color: #fff;
  border: 2px solid #378dbd;
  color: #001c48;
  text-decoration: none;
  min-width: 36px;
  height: 36px;
  padding: 0 8px;
  box-sizing: border-box;
  cursor: pointer;
  flex: 0 0 auto;
}

#s-lg-az-index .btn-group #s-lg-az-first-all {
  min-width: 80px;
}

#s-lg-az-index .btn-group .btn.active-alpha {
  text-decoration: underline;
  text-underline-offset: 2px;
}

#s-lg-az-index .btn-group .btn:hover:not(:disabled) {
  background-color: #e9ecef;
}
/* --- End index styles --- */

#s-lg-az-results-title {
  display: none;
}

.s-lg-db-panel-title {
  padding-bottom: 0.25rem;
  border-bottom: 2px solid #ced4da;
}

.az-item {
  padding-bottom: 1.25rem;
}

.az-image {
  margin-right: 1rem;
}

.az-title {
  font-size: 1.125rem;
  font-weight: 500;
}

.az-item .flex-fill .d-none.d-lg-inline {
  @media (min-width: 992px) {
    display: block !important;
  }
}

.az-flags {
  display: inline;
}

.az-flags span.badge {
  margin-right: 0.25rem;
}

.s-lg-az-result-badge-new {
  background-color: #155569;
}

.s-lg-az-result-badge-popular {
  background-color: #3f4254;
}

.az-icons {
  display: inline;
}

.az-icons ul {
  display: inline-block;
  padding-left: 0;
}

.az-icons ul li {
  display: inline;
}

.s-lg-icon {
  max-height: 1.25rem;
  max-width: 1.25rem;
}

.az-configured-fields-label {
  color: #5e6278;
  margin-right: 0.5rem;
}

.az-item a.az-toggle,
.az-item button.az-toggle,
.az-item h4.az-toggle {
  font-weight: 600;
  text-decoration: none;
  margin-right: 3rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  padding-left: 0;
}

.az-entry-collapsible-box {
  margin-bottom: 1.5rem;
  padding: 1.25rem 1.25rem 0.25rem;
  border: 1px solid #dee2e6;
}

#col1 {
  @media (max-width: 991px) {
    order: 1;
  }
}

#col2 {
  @media (min-width: 992px) {
    margin-top: 93px;
  }
}

#col2 .sidebar-boxes .accordion {
  @media (max-width: 991px) {
    margin-top: 1.5rem;
    margin-bottom: 0 !important;
  }
}

#s-lg-az-helpful-links-body .accordion-body {
  padding-bottom: 0.25rem;
}

.az-helpful-links-row {
  margin-bottom: 1rem;
}

#s-lg-az-icon-legend div.az-icon-legend-key > img {
  max-width: 1.5rem;
  max-height: 1.5rem;
}

#s-lib-scroll-top {
  position: fixed;
  bottom: 50%;
  right: 5px;
  display: none;
  font-size: 1.5em;
}
