.s-lib-main .s-lg-col-boxes > div {
  margin-bottom: 2rem;
}

.s-lib-main .s-lib-box {
  border-color: var(--bs-gray-200);
  padding: 1.5rem
}

.s-lib-main .s-lib-box-title {
    border-color: var(--bs-gray-200);
    color: var(--bs-black);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    font-family: var(--bs-font-sans-serif);
    font-weight: 500;
}

.s-lib-main .s-lib-box-content {
    color: var(--bs-ash);

}

.s-lg-guide-body {
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: var(--bs-black);
  }
}

/* Book list */
.s-lg-link-list {
  list-style-type: none;
  line-height: 1.2rem;
  margin: 2rem;
  padding-left: 0;
}

.s-lg-link-list li {
  margin-bottom: 1rem;
}

img.s-lg-book-cover-img-0 {
  margin: .25rem .5rem .5rem 0;
  width: 90px;
}